# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets / local env
.env
*.pem
task-def.json

# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
*.egg-info/
.venv/

# OS
.DS_Store
